.popup__form {
  margin-top: 27px;
}

.form__input-error {
  opacity: 0;
}



.popup__error_visible {
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  text-align: left;
  color: #f00;
  opacity: 1;
}